<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">

        <div class="background-wrapper">

            <div class="upper-wrapper"></div>
            <div class="downer-wrapper"></div>

            <div class="app-container">
                <!-- left-part -->
                <div class="left-container">
                    <!-- owner part -->
                    <div class="owner-user">

                        <div class="profile-user">
                            <img src="img/avatar_io.jpg" alt="owner-Avatar img">
                            <span>Nome Utente</span>
                        </div>

                        <div class="owner-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>

                        </div>
                    </div>
                    <div class="notify">
                        <i class="far fa-bell-slash"></i>
                        <div class="notify-text">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="#">Attiva notifiche desktop </a>
                        </div>
                    </div>
                    <!--end owner part -->

                    <!-- search conversation -->
                    <div class="search-chat">
                        <div class="search-bar">
                            <label for="search-user"><i class="fas fa-search"></i></label> 
                            <input id="search-user" type="text" placeholder="Cerca o inizia una nuova chat" v-model="filterName" @keyup="searchUtent" >
                        </div>
                    </div>
                    <!--End search conversation -->

                    <!-- Chat-Users -->
                    <div class="chat-container">
                        <div v-for='(contact, index) in contacts' class="chat-user" :class="{ 'active': index == contactIndex}" @click='openChat(index)' v-if="contact.visible"> 
                            <img :src="allAvatar(contact)" alt="avatar img">
                            <h6>{{contact.name}}</h6>
                            <div class="preview-chat">{{textcutofmessage(contact)}} </div>
                            <div class="last-access-single">{{getActiveMessageDate(index)}}</div>
            
                        </div>
                    </div>
                    <!--End Chat-Users -->
                </div>
                <!--End left-part -->

                <!-- right-part -->
                <div class="right-container">
                    <!-- Current chat -->
                    <div class="current-chat">

                        <div class="current-chat-profile ">
                            <img :src="allAvatar(contacts[contactIndex])" alt="owner-Avatar img">
                            <span>{{contacts[contactIndex].name}}</span>
                            <span class="access" v-if='contacts[contactIndex].messages.length > 0'>Ultimo accesso: {{getActiveMessageDate(contactIndex)}}</span>
                        </div>

                        <div class="chat-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>

                        </div>

                    </div>
                    <!--End Current chat -->

                    <!-- chat-main -->
                    <div class="chat-container">
                        <div v-for="(message,index) in contacts[contactIndex].messages" class="chat-main ">
                            <div :class=" chatCoversation(message)" >
                                <div class="chevron" @click='openDrop(index)'><i class="fas fa-chevron-down"></i></div>
                                <div class="text-msg"> {{ message.text }} </div>
                                <div class="time-msg"> {{ message.date }} </div>
                        
                                <div v-if="index === activeMsg" class="dropdown">
                                    <div>Info messaggio</div>
                                    <div class="del-message" @click="deleteMessage(index)">Cancella messaggio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End chat-main -->

                    <!-- chat-imput -->
                    <div class="chat-input">
                        <i class="far fa-smile-beam"></i>

                        <input v-model='msgText' @keyup.enter='newSendMsg' type="text" placeholder="Scrivi un messaggio">
                        
                        <i class="fas fa-microphone"></i>


                    </div>
                    <!--End chat-imput -->


                </div>
                <!--End right-part -->
                

            </div>
            

        </div>

    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>